@import "tailwindcss";

@utility page-container {
  margin-inline: auto;
  width: 100%;
  max-width: calc(100% - 10px);
  padding-inline: 1rem;
  @media (min-width: 1024px) {
    max-width: calc(100% - 40px);
  }
}
